In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
import numpy as np
import joblib

In [7]:
df = pd.read_csv('Data/dataset_5.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       308854 non-null  object
 2   Exercise                      308854 non-null  object
 3   Heart_Disease                 308854 non-null  object
 4   Skin_Cancer                   308854 non-null  object
 5   Other_Cancer                  308854 non-null  object
 6   Depression                    308854 non-null  object
 7   Diabetes                      308854 non-null  object
 8   Arthritis                     308854 non-null  object
 9   Sex                           308854 non-null  object
 10  Age_Category                  308854 non-null  object
 11  Height_(cm)                   308854 non-null  float64
 12  Weight_(kg)                   308854 non-null  float64
 13  BMI                           308854 non-null  float64
 14  Smoking_History               308854 non-null  object
 15  Alcohol_Consumption           308854 non-null  float64
 16  Fruit_Consumption             308854 non-null  float64
 17  Green_Vegetables_Consumption  308854 non-null  float64
 18  FriedPotato_Consumption       308854 non-null  float64
dtypes: float64(7), object(12)
memory usage: 44.8+ MB

In [3]:
df.loc[df['TenYearCHD'] == 1, 'glucose'] = df.loc[df['TenYearCHD'] == 1, 'glucose'].fillna(df.loc[df['TenYearCHD'] == 1, 'glucose'].mean())
df.loc[df['TenYearCHD'] == 0, 'glucose'] = df.loc[df['TenYearCHD'] == 0, 'glucose'].fillna(df.loc[df['TenYearCHD'] == 0, 'glucose'].mean())
df.loc[df['TenYearCHD'] == 1, 'glucose']

3       103.0
6        85.0
15       70.0
17       89.0
25       66.0
        ...
4221     72.0
4223     75.0
4226     76.0
4232     79.0
4233     86.0
Name: glucose, Length: 644, dtype: float64

In [82]:
def dataset2_preprocessing(file_path,paramList,test_size):
    df = pd.read_csv(file_path)
    df.loc[df['TenYearCHD'] == 1, 'education'] = df.loc[df['TenYearCHD'] == 1, 'education'].fillna(df.loc[df['TenYearCHD'] == 1, 'education'].mode()[0])
    df.loc[df['TenYearCHD'] == 0, 'education'] = df.loc[df['TenYearCHD'] == 0, 'education'].fillna(df.loc[df['TenYearCHD'] == 0, 'education'].mode()[0])
    df.loc[df['TenYearCHD'] == 1, 'cigsPerDay'] = df.loc[df['TenYearCHD'] == 1, 'cigsPerDay'].fillna(df.loc[df['TenYearCHD'] == 1, 'cigsPerDay'].mean())
    df.loc[df['TenYearCHD'] == 0, 'cigsPerDay'] = df.loc[df['TenYearCHD'] == 0, 'cigsPerDay'].fillna(df.loc[df['TenYearCHD'] == 0, 'cigsPerDay'].mean())
    df.loc[df['TenYearCHD'] == 1, 'BPMeds'] = df.loc[df['TenYearCHD'] == 1, 'BPMeds'].fillna(df.loc[df['TenYearCHD'] == 1, 'BPMeds'].mode()[0])
    df.loc[df['TenYearCHD'] == 0, 'BPMeds'] = df.loc[df['TenYearCHD'] == 0, 'BPMeds'].fillna(df.loc[df['TenYearCHD'] == 0, 'BPMeds'].mode()[0])
    df.loc[df['TenYearCHD'] == 1, 'totChol'] = df.loc[df['TenYearCHD'] == 1, 'totChol'].fillna(df.loc[df['TenYearCHD'] == 1, 'totChol'].mean())
    df.loc[df['TenYearCHD'] == 0, 'totChol'] = df.loc[df['TenYearCHD'] == 0, 'totChol'].fillna( df.loc[df['TenYearCHD'] == 0, 'totChol'].mean())
    df.loc[df['TenYearCHD'] == 1, 'BMI'] = df.loc[df['TenYearCHD'] == 1, 'BMI'].fillna(df.loc[df['TenYearCHD'] == 1, 'BMI'].mean())
    df.loc[df['TenYearCHD'] == 0, 'BMI'] = df.loc[df['TenYearCHD'] == 0, 'BMI'].fillna(df.loc[df['TenYearCHD'] == 0, 'BMI'].mean())
    df.loc[df['TenYearCHD'] == 1, 'heartRate'] = df.loc[df['TenYearCHD'] == 1, 'heartRate'].fillna(df.loc[df['TenYearCHD'] == 1, 'heartRate'].mean())
    df.loc[df['TenYearCHD'] == 0, 'heartRate'] = df.loc[df['TenYearCHD'] == 0, 'heartRate'].fillna(df.loc[df['TenYearCHD'] == 0, 'heartRate'].mean())
    df.loc[df['TenYearCHD'] == 1, 'glucose'] = df.loc[df['TenYearCHD'] == 1, 'glucose'].fillna(df.loc[df['TenYearCHD'] == 1, 'glucose'].mean())
    df.loc[df['TenYearCHD'] == 0, 'glucose'] = df.loc[df['TenYearCHD'] == 0, 'glucose'].fillna(df.loc[df['TenYearCHD'] == 0, 'glucose'].mean())
    X = df[paramList]
    Y = df.TenYearCHD
    x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=test_size)
    return x_train,x_test,y_train,y_test

In [84]:
paramList = ['male','age','education','currentSmoker','cigsPerDay','BPMeds','prevalentStroke','prevalentHyp','diabetes','totChol','sysBP','diaBP','BMI','heartRate','glucose']
x_train,x_test,y_train,y_test = dataset2_preprocessing('Data/dataset_2.csv',paramList,0.1)

In [85]:
x_train

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,chol,trestbps,diaBP,BMI,thalach,glucose
3717,0,60,3.0,0,0.0,0.0,0,1,0,286.00000,172.5,85.0,22.00,72.0,71.0
2653,1,54,4.0,0,0.0,0.0,0,0,0,226.00000,122.5,77.5,27.93,92.0,71.0
1230,1,58,1.0,1,30.0,0.0,0,1,0,279.00000,180.0,109.5,26.04,75.0,82.0
3285,0,47,2.0,1,20.0,0.0,0,0,0,235.17253,121.0,70.0,23.09,80.0,83.0
623,1,50,3.0,1,3.0,0.0,0,0,0,200.00000,105.0,68.0,23.30,65.0,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,0,42,1.0,0,0.0,0.0,0,0,0,241.00000,118.5,80.5,32.36,95.0,75.0
1732,0,52,2.0,0,0.0,0.0,0,0,0,221.00000,124.0,69.0,23.37,58.0,81.0
1479,0,45,1.0,0,0.0,0.0,0,1,0,172.00000,137.0,92.5,30.35,90.0,83.0
633,0,56,1.0,1,5.0,0.0,0,0,0,266.00000,134.5,78.5,30.78,79.0,84.0
1589,0,39,3.0,1,30.0,0.0,0,1,0,235.00000,196.0,116.0,29.70,73.0,87.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          4238 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [8]:
df3 = pd.read_csv('Data/dataset_3.csv',sep=';')
df3

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [9]:
df3.columns

Index(['id', 'age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo',
       'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [10]:
df3.loc[df3['gluc'] == 1, 'gluc'] = 0
df3.loc[df3['gluc'] == 2, 'gluc'] = 1
df3.loc[df3['gluc'] == 3, 'gluc'] = 1
df3.gluc

0        0
1        0
2        0
3        0
4        0
        ..
69995    0
69996    1
69997    0
69998    1
69999    0
Name: gluc, Length: 70000, dtype: int64

In [100]:
def dataset3_preprocessing(file_path,paramList,test_size):
    df = pd.read_csv(file_path,sep=';')
    df.age= round(df.age/365,0)
    df.loc[df['gluc'] == 1, 'gluc'] = 0
    df.loc[df['gluc'] == 2, 'gluc'] = 1
    df.loc[df['gluc'] == 3, 'gluc'] = 1
    X = df[paramList]
    Y = df.cardio
    x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=test_size)
    return x_train,x_test,y_train,y_test

In [101]:
paramList = ['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo','cholesterol', 'gluc', 'smoke', 'alco', 'active']
x_train,x_test,y_train,y_test = dataset3_preprocessing('Data/dataset_3.csv',paramList,0.1)

In [102]:
x_train.gluc.unique()

,age,sex,height,weight,trestbps,diaBP,cholesterol,fbs,currentSmoker,alco,active
36940,55.0,0,175,127.0,140,90,1,1,1,0,1
52767,50.0,0,171,71.0,130,80,1,0,0,0,0
44225,44.0,0,170,80.0,200,100,3,1,1,1,0
5925,57.0,0,169,67.0,110,70,2,0,0,0,1
9390,60.0,0,175,80.0,120,70,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
11402,50.0,0,165,80.0,140,90,2,0,0,0,1
715,55.0,0,146,45.0,120,80,1,0,0,0,1
67453,53.0,0,173,70.0,120,80,2,0,0,0,1
12482,52.0,0,170,80.0,150,90,1,0,0,0,1
14836,54.0,0,164,68.0,120,80,1,0,0,0,0

In [14]:
df4 = pd.read_csv('Data/dataset_4.csv')
df4

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,Yes,27.41,Yes,No,No,7.0,0.0,Yes,Male,60-64,Hispanic,Yes,No,Fair,6.0,Yes,No,No
319791,No,29.84,Yes,No,No,0.0,0.0,No,Male,35-39,Hispanic,No,Yes,Very good,5.0,Yes,No,No
319792,No,24.24,No,No,No,0.0,0.0,No,Female,45-49,Hispanic,No,Yes,Good,6.0,No,No,No
319793,No,32.81,No,No,No,0.0,0.0,No,Female,25-29,Hispanic,No,No,Good,12.0,No,No,No
319794,No,46.56,No,No,No,0.0,0.0,No,Female,80 or older,Hispanic,No,Yes,Good,8.0,No,No,No

In [15]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

In [16]:
df4.Smoking = df4.Smoking.map({'No':0,'Yes':1})
df4.HeartDisease = df4.HeartDisease.map({'No':0,'Yes':1})
df4.AlcoholDrinking = df4.AlcoholDrinking.map({'No':0,'Yes':1})
df4.Stroke = df4.Stroke.map({'No':0,'Yes':1})
df4.DiffWalking = df4.DiffWalking.map({'No':0,'Yes':1})
df4.Diabetic = df4.Diabetic.map({'No':0,'Yes':1})
df4.loc[df4['HeartDisease'] == 1, 'Diabetic'] = df4.loc[df4['HeartDisease'] == 1, 'Diabetic'].fillna(df4.loc[df4['HeartDisease'] == 1, 'Diabetic'].mode()[0])
df4.loc[df4['HeartDisease'] == 0, 'Diabetic'] = df4.loc[df4['HeartDisease'] == 0, 'Diabetic'].fillna(df4.loc[df4['HeartDisease'] == 0, 'Diabetic'].mode()[0])
df4.PhysicalActivity = df4.PhysicalActivity.map({'No':0,'Yes':1})
df4.Asthma = df4.Asthma.map({'No':0,'Yes':1})
df4.KidneyDisease = df4.KidneyDisease.map({'No':0,'Yes':1})
df4.SkinCancer = df4.SkinCancer.map({'No':0,'Yes':1})
df4.Sex = df4.Sex.map({'Female':0,'Male':1})
df4.AgeCategory = df4.AgeCategory.map({'55-59':57,'80 or older':82,'65-69':67,'75-79':77,'40-44':42,'70-74':72,'60-64':62,'50-54':52,'45-49':47,'18-24':21,'35-39':37,'30-34':32,'25-29':27})
df4.Race = df4.Race.map({'White':1,'Black':2,'Asian':3,'American Indian/Alaskan Native':4,'Other':5,'Hispanic':6})
df4.GenHealth = df4.GenHealth.map({'Very good':4, 'Fair':2, 'Good':3, 'Poor':1, 'Excellent':5})

In [17]:
df4.columns

Index(['HeartDisease', 'BMI', 'Smoking', 'AlcoholDrinking', 'Stroke',
       'PhysicalHealth', 'MentalHealth', 'DiffWalking', 'Sex', 'AgeCategory',
       'Race', 'Diabetic', 'PhysicalActivity', 'GenHealth', 'SleepTime',
       'Asthma', 'KidneyDisease', 'SkinCancer'],
      dtype='object')

In [107]:
def dataset4_preprocessing(file_path,paramList,test_size):
    df4 = pd.read_csv(file_path)
    df4.Smoking = df4.Smoking.map({'No':0,'Yes':1})
    df4.HeartDisease = df4.HeartDisease.map({'No':0,'Yes':1})
    df4.AlcoholDrinking = df4.AlcoholDrinking.map({'No':0,'Yes':1})
    df4.Stroke = df4.Stroke.map({'No':0,'Yes':1})
    df4.DiffWalking = df4.DiffWalking.map({'No':0,'Yes':1})
    df4.Diabetic = df4.Diabetic.map({'No':0,'Yes':1})
    df4.loc[df4['HeartDisease'] == 1, 'Diabetic'] = df4.loc[df4['HeartDisease'] == 1, 'Diabetic'].fillna(df4.loc[df4['HeartDisease'] == 1, 'Diabetic'].mode()[0])
    df4.loc[df4['HeartDisease'] == 0, 'Diabetic'] = df4.loc[df4['HeartDisease'] == 0, 'Diabetic'].fillna(df4.loc[df4['HeartDisease'] == 0, 'Diabetic'].mode()[0])
    df4.PhysicalActivity = df4.PhysicalActivity.map({'No':0,'Yes':1})
    df4.Asthma = df4.Asthma.map({'No':0,'Yes':1})
    df4.KidneyDisease = df4.KidneyDisease.map({'No':0,'Yes':1})
    df4.SkinCancer = df4.SkinCancer.map({'No':0,'Yes':1})
    df4.Sex = df4.Sex.map({'Female':0,'Male':1})
    df4.AgeCategory = df4.AgeCategory.map({'55-59':57,'80 or older':82,'65-69':67,'75-79':77,'40-44':42,'70-74':72,'60-64':62,'50-54':52,'45-49':47,'18-24':21,'35-39':37,'30-34':32,'25-29':27})
    df4.Race = df4.Race.map({'White':1,'Black':2,'Asian':3,'American Indian/Alaskan Native':4,'Other':5,'Hispanic':6})
    df4.GenHealth = df4.GenHealth.map({'Very good':4, 'Fair':2, 'Good':3, 'Poor':1, 'Excellent':5})
    X = df4[paramList]
    Y = df4.HeartDisease
    x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=test_size)
    return x_train,x_test,y_train,y_test

In [108]:
paramList = ['BMI', 'Smoking', 'AlcoholDrinking', 'Stroke','PhysicalHealth', 'MentalHealth', 'DiffWalking', 'Sex', 'AgeCategory','Race', 'Diabetic', 'PhysicalActivity', 'GenHealth', 'SleepTime','Asthma', 'KidneyDisease', 'SkinCancer']
x_train,x_test,y_train,y_test = dataset4_preprocessing('Data/dataset_4.csv',paramList,0.1)

In [109]:
x_train

,BMI,currentSmoker,alco,prevalentStroke,PhysicalHealth,MentalHealth,DiffWalking,sex,age,Race,diabetes,active,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
11099,37.59,1,0,0,0.0,5.0,0,0,57,1,0.0,0,4,8.0,0,0,0
143715,21.70,0,0,0,0.0,0.0,0,1,67,1,0.0,1,4,8.0,0,0,0
77164,23.23,0,0,0,0.0,0.0,0,0,57,1,0.0,1,5,8.0,0,0,0
200848,23.03,0,0,0,20.0,20.0,0,0,37,5,0.0,1,4,9.0,0,0,0
144737,26.76,0,0,0,0.0,2.0,0,0,42,1,0.0,1,4,8.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316590,28.06,1,0,0,0.0,0.0,0,1,57,6,0.0,0,3,6.0,0,0,0
31098,23.30,0,0,0,0.0,0.0,0,0,77,1,0.0,1,4,7.0,0,0,0
71103,30.04,0,0,0,0.0,1.0,0,1,32,1,0.0,1,4,7.0,0,0,0
112012,33.47,0,0,0,1.0,0.0,0,0,47,1,1.0,0,3,8.0,0,0,0
310889,33.45,0,0,0,0.0,0.0,0,0,77,1,0.0,0,5,7.0,0,0,0

In [21]:
df5 = pd.read_csv('Data/dataset_5.csv')
df5

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308849,Very Good,Within the past year,Yes,No,No,No,No,No,No,Male,25-29,168.0,81.65,29.05,No,4.0,30.0,8.0,0.0
308850,Fair,Within the past 5 years,Yes,No,No,No,No,Yes,No,Male,65-69,180.0,69.85,21.48,No,8.0,15.0,60.0,4.0
308851,Very Good,5 or more years ago,Yes,No,No,No,Yes,"Yes, but female told only during pregnancy",No,Female,30-34,157.0,61.23,24.69,Yes,4.0,40.0,8.0,4.0
308852,Very Good,Within the past year,Yes,No,No,No,No,No,No,Male,65-69,183.0,79.38,23.73,No,3.0,30.0,12.0,0.0
308853,Excellent,Within the past year,Yes,No,No,No,No,No,No,Female,45-49,160.0,81.19,31.71,No,1.0,5.0,12.0,1.0

In [22]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308854 entries, 0 to 308853
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   General_Health                308854 non-null  object
 1   Checkup                       308854 non-null  object
 2   Exercise                      308854 non-null  object
 3   Heart_Disease                 308854 non-null  object
 4   Skin_Cancer                   308854 non-null  object
 5   Other_Cancer                  308854 non-null  object
 6   Depression                    308854 non-null  object
 7   Diabetes                      308854 non-null  object
 8   Arthritis                     308854 non-null  object
 9   Sex                           308854 non-null  object
 10  Age_Category                  308854 non-null  object
 11  Height_(cm)                   308854 non-null  float64
 12  Weight_(kg)                   308854 non-null  float64
 13  BMI                           308854 non-null  float64
 14  Smoking_History               308854 non-null  object
 15  Alcohol_Consumption           308854 non-null  float64
 16  Fruit_Consumption             308854 non-null  float64
 17  Green_Vegetables_Consumption  308854 non-null  float64
 18  FriedPotato_Consumption       308854 non-null  float64
dtypes: float64(7), object(12)
memory usage: 44.8+ MB

In [23]:
df5.General_Health = df5.General_Health.map({'Very Good':4, 'Fair':2, 'Good':3, 'Poor':1, 'Excellent':5})
df5.Checkup = df5.Checkup.map({'Within the past 2 years':2,'Within the past year':1,'5 or more years ago':4,'Within the past 5 years':3,'Never':0})
df5.Exercise = df5.Exercise.map({'No':0,'Yes':1})
df5.Heart_Disease = df5.Heart_Disease.map({'No':0,'Yes':1})
df5.Skin_Cancer = df5.Skin_Cancer.map({'No':0,'Yes':1})
df5.Other_Cancer = df5.Other_Cancer.map({'No':0,'Yes':1})
df5.Depression = df5.Depression.map({'No':0,'Yes':1})
df5.Arthritis = df5.Arthritis.map({'No':0,'Yes':1})
df5.Diabetes = df5.Diabetes.map({'No':0,'Yes':1,'Yes, but female told only during pregnancy':1, 'No, pre-diabetes or borderline diabetes':0})
df5.Smoking_History = df5.Smoking_History.map({'No':0,'Yes':1})
df5.Sex = df5.Sex.map({'Female':0,'Male':1})
df5.Age_Category = df5.Age_Category.map({'55-59':57,'80+':82,'65-69':67,'75-79':77,'40-44':42,'70-74':72,'60-64':62,'50-54':52,'45-49':47,'18-24':21,'35-39':37,'30-34':32,'25-29':27})

In [24]:
df5.columns

Index(['General_Health', 'Checkup', 'Exercise', 'Heart_Disease', 'Skin_Cancer',
       'Other_Cancer', 'Depression', 'Diabetes', 'Arthritis', 'Sex',
       'Age_Category', 'Height_(cm)', 'Weight_(kg)', 'BMI', 'Smoking_History',
       'Alcohol_Consumption', 'Fruit_Consumption',
       'Green_Vegetables_Consumption', 'FriedPotato_Consumption'],
      dtype='object')

In [114]:
def dataset5_preprocessing(file_path,paramList,test_size):
    df5 = pd.read_csv(file_path)
    df5.General_Health = df5.General_Health.map({'Very Good':4, 'Fair':2, 'Good':3, 'Poor':1, 'Excellent':5})
    df5.Checkup = df5.Checkup.map({'Within the past 2 years':2,'Within the past year':1,'5 or more years ago':4,'Within the past 5 years':3,'Never':0})
    df5.Exercise = df5.Exercise.map({'No':0,'Yes':1})
    df5.Heart_Disease = df5.Heart_Disease.map({'No':0,'Yes':1})
    df5.Skin_Cancer = df5.Skin_Cancer.map({'No':0,'Yes':1})
    df5.Other_Cancer = df5.Other_Cancer.map({'No':0,'Yes':1})
    df5.Depression = df5.Depression.map({'No':0,'Yes':1})
    df5.Arthritis = df5.Arthritis.map({'No':0,'Yes':1})
    df5.Diabetes = df5.Diabetes.map({'No':0,'Yes':1,'Yes, but female told only during pregnancy':1, 'No, pre-diabetes or borderline diabetes':0})
    df5.Smoking_History = df5.Smoking_History.map({'No':0,'Yes':1})
    df5.Sex = df5.Sex.map({'Female':0,'Male':1})
    df5.Age_Category = df5.Age_Category.map({'55-59':57,'80+':82,'65-69':67,'75-79':77,'40-44':42,'70-74':72,'60-64':62,'50-54':52,'45-49':47,'18-24':21,'35-39':37,'30-34':32,'25-29':27})
    X = df5[paramList]
    Y = df5.Heart_Disease
    x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=test_size)
    return x_train,x_test,y_train,y_test

In [115]:
paramList = ['General_Health', 'Checkup', 'Exercise', 'Skin_Cancer','Other_Cancer', 'Depression', 'Diabetes', 'Arthritis', 'Sex','Age_Category', 'Height_(cm)', 'Weight_(kg)', 'BMI', 'Smoking_History','Alcohol_Consumption', 'Fruit_Consumption','Green_Vegetables_Consumption', 'FriedPotato_Consumption']
x_train,x_test,y_train,y_test = dataset5_preprocessing('Data/dataset_5.csv',paramList,0.1)

In [116]:
x_train

,General_Health,Checkup,active,SkinCancer,Other_Cancer,Depression,diabetes,Arthritis,sex,age,height,weight,BMI,currentSmoker,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
127918,4,1,1,0,0,0,0,0,0,57,160.0,117.93,46.06,1,2.0,8.0,12.0,4.0
150531,5,1,1,0,0,0,0,0,1,37,185.0,99.79,29.03,0,2.0,30.0,60.0,5.0
69517,3,1,1,0,0,0,0,1,0,72,155.0,72.57,30.23,0,3.0,60.0,30.0,4.0
223761,3,1,1,0,0,0,1,0,0,52,168.0,99.79,35.51,0,0.0,30.0,30.0,4.0
133689,3,1,1,0,1,0,0,1,1,82,180.0,92.99,28.59,1,15.0,30.0,16.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58054,4,1,1,0,0,0,0,0,1,72,185.0,108.86,31.66,1,20.0,5.0,15.0,5.0
264006,5,2,1,0,0,0,1,0,0,27,163.0,63.50,24.03,0,0.0,8.0,30.0,4.0
210799,4,1,1,0,0,0,0,0,0,47,165.0,54.43,19.97,0,8.0,90.0,12.0,4.0
28835,2,1,1,0,0,1,0,0,1,27,175.0,90.72,29.53,1,24.0,16.0,12.0,20.0
293769,3,2,0,0,1,0,0,0,1,27,180.0,83.91,25.80,0,30.0,2.0,4.0,12.0

In [67]:
column1 = pd.read_csv('Data/dataset_1.csv').columns.tolist()
column1.remove('condition')
column1

['age',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal']

In [79]:
column2 = pd.read_csv('Data/dataset_2.csv').columns.tolist()
column2[10] = 'trestbps'
column2[9] = 'chol'
column2[13] = 'thalach'
column2.remove('TenYearCHD')
len(column2)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,chol,trestbps,diaBP,BMI,thalach,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [90]:
column3 = pd.read_csv('Data/dataset_3.csv',sep=';').columns.tolist()
column3.remove('id')
column3.remove('cardio')
column3[1]='sex'
column3[4]='trestbps'
column3[5]='diaBP'
column3[7]='fbs'
column3[8]='currentSmoker'
column3

,id,age,sex,height,weight,trestbps,diaBP,cholesterol,fbs,currentSmoker,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [105]:
column4 = pd.read_csv('Data/dataset_4.csv').columns.tolist()
column4.remove('HeartDisease')
column4[2]='currentSmoker'
column4[3]='alco'
column4[4]='prevalentStroke'
column4[8]='sex'
column4[9]='age'
column4[11]='diabetes'
column4[12]='active'
column4

,HeartDisease,BMI,currentSmoker,alco,prevalentStroke,PhysicalHealth,MentalHealth,DiffWalking,sex,age,Race,diabetes,active,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,Yes,27.41,Yes,No,No,7.0,0.0,Yes,Male,60-64,Hispanic,Yes,No,Fair,6.0,Yes,No,No
319791,No,29.84,Yes,No,No,0.0,0.0,No,Male,35-39,Hispanic,No,Yes,Very good,5.0,Yes,No,No
319792,No,24.24,No,No,No,0.0,0.0,No,Female,45-49,Hispanic,No,Yes,Good,6.0,No,No,No
319793,No,32.81,No,No,No,0.0,0.0,No,Female,25-29,Hispanic,No,No,Good,12.0,No,No,No
319794,No,46.56,No,No,No,0.0,0.0,No,Female,80 or older,Hispanic,No,Yes,Good,8.0,No,No,No

In [71]:
column5 = pd.read_csv('Data/dataset_5.csv').columns.tolist()
column5[2] = 'active'
column5.remove('Heart_Disease')

In [15]:
column5 = pd.read_csv('Data/dataset_5.csv').columns.tolist()
column5[2] = 'active'
column5[4] = 'SkinCancer'
column5[7] = 'diabetes'
column5[9] = 'sex'
column5[10] = 'age'
column5[11] = 'height'
column5[12] = 'weight'
column5[14] = 'currentSmoker'
column5.remove('Heart_Disease')

In [16]:
column5

['General_Health',
 'Checkup',
 'active',
 'SkinCancer',
 'Other_Cancer',
 'Depression',
 'diabetes',
 'Arthritis',
 'sex',
 'age',
 'height',
 'weight',
 'BMI',
 'currentSmoker',
 'Alcohol_Consumption',
 'Fruit_Consumption',
 'Green_Vegetables_Consumption',
 'FriedPotato_Consumption']